/* =======================================
    style.css
    use this file for your custom styles
========================================== */

/* use a box model that makes sense */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set the default color, font-size, and line height */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}



/* =======================================
    author styles
    place your custom styles below here
========================================== */
.navbar {
  width: 100%;
  height: 10px;
  margin-right:40px;
  padding:10px;
  text-align: center;
  font-family:'Open Sans';
  background-color: white;
  text-transform: uppercase;
  border-right-style: solid;
  background-image: url("https://secure.static.tumblr.com/0c3b11af51270e4a9624a595991c894d/gebl2lm/y98n9uqol/tumblr_static_vintage_pattern_black_and_white-wallpaper-1600x900.jpg")
}

.contact, h1 {
	width: 100%;
    margin: auto;
    padding-right:80px; 
    display: inline-block;
  
}

.contact{
  background-image: url("https://secure.static.tumblr.com/0c3b11af51270e4a9624a595991c894d/gebl2lm/y98n9uqol/tumblr_static_vintage_pattern_black_and_white-wallpaper-1600x900.jpg");
    padding:20px;
    margin:auto;
    display:inline-block;
  
}

.contact li{
  background-color:white;
  font-family:'Open Sans';
  font-size: 2em;
  padding-right:80px;
  display: inline-block;
}

h2 {
	letter-spacing: 4px;
	text-align: center;
    font-size: 55px;
    font-family:'Great Vibes';
    background-color:white;
    padding-top:20px;
  
    
}


.heading h1 {
  font-family:'Great Vibes';
  font-size: 5em;
  color: pink;
  text-align:center;
  background-color:white;
  padding-left:10px;
  
}

.heading h3{
  text-align:center;
  padding-left:100px;
  text-indent: inherit;
  font-family:'Great Vibes';
  color:pink;
  font-size:3em;
}


.heading h4{
  text-align:right;
  padding-right:80px;
  font-family:'Great Vibes';
  font-size:2em;
  color:pink;
}

.navbar li {
  display: inline-block;
  margin: auto;
  padding-right:20px;
  padding-left:20px;
  font-family:'Open Sans';
  background-color: white;
  font-size: 1.5em;
  word-spacing:1px;
  border-right-style:solid;
  border-spacing: 2px;
  border-color:white;
  font-color:white;
 
  
}


.row {
  
}

.col-sm-2 {
  height:70px;
  margin:auto;
  padding-bottom: 20%;
  background-color: grey;
  text-align: center;
  font-family:'Open Sans';
  font-size:1.5em;
  image-orientation: center;
  text-decoration:underline;
  border: 2px solid;
  border-radius: 25px;
}



.col-sm-5 {
  height:80%;
  width:20%;
  padding-left:20%;
  margin:-1px;
  display:inline-block;
  background-color: grey;
  text-align: center;
  font-family:'Open Sans';
  font-size:1.5em;
  image-orientation: center;
  text-decoration:underline;
  border: 2px solid;
  border-radius: 25px;
  
  
}


.row{
  padding-top:5%;
}




a:link{
  color:black;

}

a:hover {
  color: black;
}




.container-fluid-designers{
  font-family:'Open Sans';
  font-size: 1.5em;
    
}


.designers{
border:solid;
padding:10px;
margin:auto;
font-size: 2em;
font-family:'Great Vibes';
color:pink;
text-align:center;
  
}

  
.dresses{
border-bottom:solid;
border-right:solid;
padding:10px;
margin:auto;
font-size: 1.4em;
font-family:'Great Vibes';
color:pink;


}

.bmaids{
  padding:10px;
  margin:auto;
  border-right:solid;
  
}



























/* =======================================
    helper classes
    keep this at the bottom
========================================== */

/*
 * Clearfix: contain floats
 *
 * from HTML5 Boilerplate
 * shttps://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}